body {
    background-color: #ffffff;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}

// Navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-nav {
    .nav-link {
        color: #071c4d !important;

        &.active {
            font-weight: bold !important;
        }
    }
}

.btn-navbar-right {
    margin-top: -8px !important;
    margin-bottom: -8px !important;
    margin-right: -8px !important;
    height: 70px;
    border-radius: 0px;
}

.btn-login {
    background-color: #071c4d;
    color: #ffffff;

    &:hover {
        background-color: #1c3d8b;
        color: #ffffff;
    }
}

// Header
header {
    padding: 180px 0 165px;
    margin-top: -70px;
    background-image: url("https://mralifakbar.github.io/nomads-bwa-frontend/frontend/images/header-img-beach.jpg");
    background-size: cover;

    h1,
    p {
        color: #ffffff;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 20px;
    }

    .btn-get-started {
        background-color: #ff9e53;
        color: #ffffff;

        &:hover {
            background-color: #ee9a5a;
            color: #ffffff;
        }
    }
}

// Statistics
.section-stats {
    margin-top: -50px;

    .stats-detail {
        padding-top: 18px;
        padding-left: 40px;
        background-color: #ffffff;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }

    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

// Popular
.section-popular {
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 150px;

        h2,
        p {
            color: #ffffff;
        }

        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }

        p {
            font: 18px;
        }
    }
}

.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: #000;
            color: #ffffff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }

        .travel-country {
            font-size: 18px;
            color: #ffffff;
        }

        .travel-location {
            font-size: 26px;
            color: #ffffff;
        }

        .travel-button {
            .btn-travel-details {
                background-color: #ff9e53;
                color: #ffffff;

                &.hover {
                    background-color: #f8ae76;
                    color: #ffffff;
                }
            }
        }
    }
}

// Networks
.section-networks {
    background-color: #ffffff;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    img {
        max-width: 100%;
    }
}

// Testimonial
.section-testimonial-heading {
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18pxs;
    }
}

.section-testimonial-content {
    margin-top: -300px;
    padding-top: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

        .testimonial-content {
            min-height: 380px;
        }

        h3 {
            font-size: 22px;
        }

        .testimonial {
            font-family: Assistant;
            font-weight: 200;
            font-size: 26px;
            color: #6e6e6e;
            min-height: 160px;
        }

        .trip-to {
            font-weight: normal;
            font-size: 22px;
            color: #6e6e6e;
        }

        hr {
            margin: 30px -20px;
        }
    }

    .btn-get-started {
        background-color: #ff9e53;
        color: #ffffff;

        &:hover {
            background-color: #f8ae76;
            color: #fff;
        }
    }

    .btn-need-help {
        background-color: #f2f2f2;
        color: #C3C3C3;

        &:hover {
            background-color: #fafafa;
            color: #C3C3C3
        }
    }
}

// Footer
.section-footer {
    h5 {
        margin-bottom: 16px;
        font-size: 22px;
    }

    li {
        color: #071C4D;
        text-decoration: none;
        margin-bottom: 8px;
    }

    a {
        color: #071C4D;
        text-decoration: none;
        font-size: 18px;
    }

    .footer-text {
        font-family: Assistant;
        font-weight: 300;
        font-size: 18px;
        color: #6e6e6e;
    }
}


// DETAILS PAGE

// Header
.section-details-header {
    min-height: 310px;
    background: #e4e6eb;
    margin-top: -68px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;

    .breadcrumb {
        padding: 0;
        margin-bottom: 30px;
    }

    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: #071C4D;
        }
    }

    .card-details {
        padding: 30px;
        border-radius: 11px;

        h1 {
            font-size: 26px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 18px;
            color: #b1b1b1;
        }

        .trip-information {
            th {
                font-weight: 300;
                font-size: 18px;
                color: #071C4D;
            }

            td {
                font-weight: 300;
                font-size: 18px;
                color: #b1b1b1;
            }

            .text-total {
                .text-blue {
                    color: #071c4d;
                    font-weight: bold;
                }

                .text-orange {
                    color: #FF9E53;
                    font-weight: bold;
                }
            }
        }

        .payment-instruction {
            font-weight: 300;
            font-size: 14px;
            color: #b1b1b1;
        }

        .bank {
            .bank-item {
                h3 {
                    font-size: 18px;
                    color: #071C4D;
                    margin-bottom: 0;
                }

                p {
                    margin-bottom: 0;
                }

                .description {
                    margin-left: 10px;
                    overflow: hidden;
                    float: left;

                    p {
                        font-weight: normal;
                        font-size: 16px;
                        color: #071C4D;
                    }
                }
            }

            .bank-image {
                width: 45px;
                height: 45px;
                float: left;
            }
        }

        h3 {
            font-weight: 600;
            font-size: 14px;
            color: #071c4d;
        }

        .disclaimer {
            font-weight: 300;
            font-size: 14px;
            color: #b1b1b1;
        }

        .gj-datepicker {
            .datepicker {
                border-right: 0;
            }

            .input-group-append {
                .btn {
                    padding-right: 30px;
                    border-left: 0;
                }
            }
        }

        .btn-add-now {
            background-color: #071C4D;
            color: #ffffff;

            &:hover {
                background-color: #1c3d8b;
                color: #fff;
            }
        }
        .features {
            margin-top: 30px;

            h3 {
                font-size: 18px;
                color: #071c4d;
                margin-bottom: 0;
            }

            p {
                margin-bottom: 0;
            }

            .description {
                margin-left: 10px;
                overflow: hidden;
                float: left;
            }

            .features-image {
                float: left;
                width: 45px;
            }
        }
    }

    .gallery {
        .xzoom-container {
            // display: block;

            .xzoom {
                width: 100% !important;
                box-shadow: none;
                margin-bottom: 10px;
            }

            .xactive {
                border: 4px solid #1ABC9C;
                box-shadow: none;
            }
        }


    }

    .card-right {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom: 0;

        h2 {
            font-size: 20px;
        }

        th,
        td {
            font-size: 18px;
            padding-bottom: 10px;
        }
    }

    .member {
        .member-image {
            width: 40px;
            height: 40px;
        }
    }

    .join-container {
        margin-top: -16px;

        a {
            font-size: 20px;
            font-weight: bold;
        }

        .btn-join-now {
            width: 100%;
            background-color: #ff9e53;
            color: #fff;
            border-radius: 0;

            &:hover {
                background-color: #f8ae76;
                color: #fff;
                border-radius: 0;
            }
        }
    }

}

// Success Page

.section-success {
    height: 90vh;

    img {
        height: 266px;
        width: 266px;
        margin-bottom: 12px;
    }

    h1 {
        font-size: 26px;
        font-weight: 600;
    }

    p {
        font-size: 18px;
        margin-top: 6px;
        font-weight: 300;
        color: #b1b1b1;
    }

    .btn-home {
        background-color: #071c4d;
        color: #fff;
        font-size: 20px;
        border-radius: 4px;

        &:hover {
            background-color: #1c3d8b;
            columns: #fff;
        }
    }
}